<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2_30300460</title>
</head>
<body>
    <h1><b>Cristian Ruiz</b></h1><bt>
    <h2>CI 30300460</h2><bt>
    <h2>Seccion 1</h2>
</body>
</html>